{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}  {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <header>
        <div class="logotipo">
            {% comment 'logo-img' %} logo {% endcomment %}
            <img src="{% static 'img/logo.png' %}" alt="">
                    <h1>Sitio Web con Django | Nicolas Paulo Vega</h1>
        </div>
    </header>

    <nav>
        <ul class="menu-horizontal">
            <li>
                <a href="{% url 'index' %}">Inicio</a>
            </li>
            <li>
                <a href="{% url 'welcome' %}">Bienvenido</a>
            </li>
            <li>
                <a href="{% url 'hello_world' %}">Hola mundo</a>
            </li>
            <li>
                <a href="{% url 'pages' %}">Página</a>
            </li>
            <li>
                <a href="{% url 'article' %}">Articulos</a>
                <ul class="menu-vertical">
                    <li>
                        <a href="{% url 'create_full_article' %}">Crear Articulo</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Categoria</a>
                <ul class="menu-vertical">
                    <li>
                        <a href="#">Crear Categoria</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{% url 'contact' 'Nicolas' 'Paulo Vega'%}">Contacto</a>
            </li>
        </ul>
    </nav>
    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno-barra"></span>
        <span class="esquina-derecha"></span>
    </div>
    
    <div id="content">
        <div class="box">
            {% block content %}

            {% endblock %}
        </div>
    </div>

    <footer>Master Framework &copy; Nicolas Paulo Vega - {% now 'd/m/Y h:m:s' %}</footer>
</body>
</html>