{% extends "layout.html" %}
{% load static %}

{% block title %} Articulos {% endblock %}

{% block content %}
    <h1 class="title">Listado de Articulos</h1>
    {% if messages %}
        {% for m in messages %}
            <div class="message">
                {{m}}
            </div>
            <script>
                swall({
                    title: "{{title}}",
                    text: "{{m}}",
                    icon: "{{icon}}",
                    button: {
                        cancel: "Cancelar",
                        confirm: "Aceptar",
                    },
                })
                .then((willoption) => {
                    if(willoption) {
                        //código para ejecutar si se hace clic en el botón de aceptar
                        swall("¡Eliminado Correctamente!",{
                            icon: "success",
                        });
                    } else {
                        //código para ejecutar si se hace clic en el botón de cancelar
                        swall("Operación cancelada.", {
                            icon: "info",
                        });
                    }
                });
            </script>
        {% endfor %}
    {% endif %}
    <ul>
        {% for article in articles %}
            <li>
                <div class="list">
                    <h4>{{article.id}} - {{article.title}}</h4>
                    <span>{{article.create_date}}</span>
                    {% if article.public %}
                        <strong>Publicado</strong>
                    {% else %}
                        <strong>Privado</strong>
                    {% endif %}
                    <p>
                        {{article.content}}
                </div>

                <a href="{% url 'delete_article' article.id %}">Eliminar</a>
                <hr>

                </p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}