{% extends "layout.html" %}
{% load static %}

{% block title %} Formulario - Crear Articulo {% endblock %}

{% block content %}
    <h1 class="title">Crear Articulo</h1>
    <form action="{% url 'save_article' %}" method="GET">
        <label for="title">Titulo</label>
        <input type="text" name="title" placeholder="Ingrese el Titulo del Articulo">
        <label for="content">Contenido del Articulo</label>
        <textarea name="title"></textarea>
        <label for="public">¿Publicado?</label>
        <select name="public">
            <option value="1">Si</option>
            <option value="0">No</option>
        </select>
        <input type="submit" value="Guardar">
    </form>
{% endblock %}