{% extends 'layout.html' %}

{% block title %}
    Lista De articulos
{% endblock title %}

{% block content %}
<h2 class="title">Listado de Articulos de mi Blog</h2>
<br>
<hr/>
{% if messages %}
   {% for message in messages %}
       <div class="message">
            {{ message }}
       </div>
       <script>
           swal({
               title: "{{ titulo }}",
               text: "{{ message }}",
               icon: "{{ icono }}",
               buttons: {
                   cancel: "Cancelar",
                   confirm: "Aceptar"
               }
           }).then((willOption) => {
               if (willOption) {
                   swal("¡Eliminado correctamente!", {
                       icon: "success"
                   });
               } else {
                   swal("Operación cancelada.", {
                       icon: "info"
                   });
               }
           });
       </script>
   {% endfor %}
{% endif %}
<div class="lista">

    {% for article in articulos %}
    <article class ="article_item">
        {%if article.image != 'null' and article.image.url|length >= 1 %}
            <img src ="{{article.image.url}}" alt = ""/>
        {%endif%}
        <div class="article_details">
            <p><strong>Código:</strong> {{ article.id }}</p>
            <p><strong>Título:</strong> {{ article.title }}</p>
            <p><strong>Contenido:</strong> {{ article.content }}</p>
            <p>{{ article.create_date }}</p>
        </div>
        <a href="{% url 'Borrar' article.id %}" class="boton_borrar">Borrar</a>
    </article>   
    <br>
    <hr/>
    {% endfor %}

{{ block.super }}

{% endblock %}




