{% extends 'layout.html' %}

{% block content %}
    <h1>Contactos</h1>
    <form action="">
        <div class="mb-3">
            <input type="form-control" class="form-control" id="exampleFormControlInput1" placeholder="Nombres">
        </div>
        <div class="mb-3">
            <input type="form-control" class="form-control" id="exampleFormControlInput1" placeholder="Apellidos">
        </div>
        <div class="mb-3">
            <input type="form-control" class="form-control" id="exampleFormControlInput1" placeholder="Teléfono">
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Correo Electrónico">
        </div>
        <div class="mb-3">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Mensaje"></textarea>
        </div>
        <button type="button" class="btn btn-primary">Enviar</button>
    </form>
{% endblock %}