{% extends 'layout.html' %}

{% block title %}
    Formulario - Crear Articulos del Blog
{% endblock %}

{% block content %}
<h1 class="title">Formulario en Django</h1>
{% if form.errors %}
<div class="error-message">
    <strong class="rojo">Hay errores en el formulario</strong>
    {{ form.errors }}
</div>
{% endif %}
<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn-guardar" type="submit">Guardar</button>
    <a href="{% url 'Listar' %}" class="btn-volver">Volver</a>
</form>
{% endblock %}


