{% extends 'layout.html' %}
{% block title %}
Pagina de Inicio
{% endblock %}

{% load static %}
{% block content %}
<h2 class="title">{{ title }}</h2>
{{ mi_variable }}
{% if name == 'Kevin' %}
    <p>{{ name }}</p>
{% else %}
    <strong>Nombre no existe o no coincide</strong>
{% endif %}
<h1>Inicio</h1>
<p>Años desde el 2024 hasta 2050</p>
<ul>
{% for year in years %}
    <li>{{ year }}
        {% if year in leap_years %}
            (año bisiesto)
        {% endif %}
        {% if year in even_years %}
            (año par)
        {% endif %}
        {% if year in odd_years %}
            (año impar)
        {% endif %}
    </li>
{% endfor %}
</ul>
{% endblock %}



