{% extends 'layout.html' %}
{% load static %}
{% load filters %}
{% load emoji_filtro %}
{% load textoAlreves %}
{% load porcentaje %}
{% load multiplicador %}
{% block title %}

Mi Página Web
{% endblock %}

{% block content %}
    <h1 class="title">Página de mi web</h1>
    <p>{{ "Creado por Kevin Hernandez" | cut:'' }}</p>
    {{ texto | default:"No hay nada" }}

    <p>
        {{ lista | first }}
        {{ lista | last }}
    </p>

    <p>
        {{ lista | join:", " }}
    </p>

    <p>
        {{ lista | length }}
    </p>

    <p>
        {{ 'texto de prueba' | length }}
    </p>

    <p>
        {{ 'texto de prueba' | upper }}
    </p>

    <p>
        {{ 'texto de prueba' | lower }}
    </p>

    <p>
        {{ lista | random }}
    </p>

    <p>
        {{ '<h1>Texto</h1> <strong>Pruebas</strong>' | striptags }}
    </p>

    <p>
        {{ '<h1>Texto</h1> <strong>Pruebas</strong>' | striptags | wordcount }}
    </p>

    {{ "Kevin Hernandez" | saludo | safe }}
    
    <p>{{ "Me siento triste y confundido" | emojify }}</p>
    <p>{{ "Hoy estoy feliz" | emojify }}</p>

    <p>{{ "Hola soy Goku" | textoAlreves }}</p>

    {{ 80 | progress_bar }}

    <br>{{ 5 | multiply:17 }}</br>


{% endblock %}
