{% extends 'layout.html' %}

{% block title %}
    Productos y Servicios
{% endblock title %}

{% block content %}
    {{ block.super }}
    <h1> !! PRODUCTOS ¡¡</h1>
<p>Manejamos gran variedad de productos entre esos estan, aretes, cadenas, pulseras, relojes, anillos, diademas, gargantillas, tobilleras, broches, camafeos, gemelos,  </p>
<p>Ademas de que manejamos la mejor calidad del mercado o la que tu pidas.</p>
<p>Materiales: Oro, plata fina, plata de ley, plata argentium, plata de segunda ley, perlas, amatistas, aguamarina, citrino, esmeralda, granate, onix, ópalo, cristal, cobalto, tungsteno.</p>
<br> 
<p>Manejamos servicios como, mantenimiento personalizado, ajustes, reparacion, Restauración, reproducción,  </p>
<h2><p>Ven a conocernos, tenemos lo que buscas.</p></h2>
    <img src="" alt="Imagen de Productos y Servicios">
{% endblock %}
