{% extends 'layout.html' %}

{% block title %}
    Quiénes Somos
{% endblock title %}

{% block content %}
    {{ block.super }}
    <h1> !! ¿ QUIÉNES SOMOS ? ¡¡</h1>
<p>JOYERIA KEV. somos una mini empresa, que nos dedicamos a la venta y alquiler de joyas y complementos de lujo, para dama, caballero e infantes.</p>
<br> 
<p>Manejamos los mejores materiales del mercado, para el cuidado y salud de tu piel, asi mismo, hacemos joyas personalizadas.</p>
<br>
<p>¿Tienes un evento importante?</p>
<br> 
<p>¿Una boda?</p>
<br> 
<p>¿Fiesta de empresa?</p>
<br> 
<p>¿Quieres hacer un regalo a alguien especial para tí?</p>
<br> 
<p>O ¿Simplemente darte un capricho? </p></>
<br> 
<h2><p>Ven a conocernos, tenemos lo que buscas.</p></h2>
<div class="imgQS">
    <img src="../static/images/Ke.jpg" alt="Imagen de Quiénes Somos"/>
</div>
{% endblock %}
